name: 生成文件列表～

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ls
        run: ls -1 >live2dList.txt
        
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: QAQ
          path: "live2dList.txt"
          retention-days: 3
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: github.ref == 'refs/heads/main'
        with:
          tag_name: "latest"
          files: |
            live2dList.txt
          generate_release_notes: true

